@media only screen and (max-width: 600px) {
  .opblock-summary-description {
    visibility: hidden;
  }
  .swagger-ui .opblock .opblock-summary-path {
    max-width: 100% !important;
  }
}

.swagger-ui .scheme-container {
  box-shadow: none;
}